@media (min-width:320px)  { 
    /* smartphones, iPhone, portrait 480x320 phones */ 
    body{
        padding:0;
        width: 95%;
        margin:0 auto;
        color: #333; 
        box-sizing: border-box;
    }
    ul{
        list-style: none;
        overflow: hidden;
        padding:0;
    }
    ul a:nth-child(odd){
        background-color: #ddd; 
    }
    ul a{
        padding:3px;
        display: block;
        text-decoration: none;
        color: #333; 
    }
    form{
        border:3px solid #ddd;
        display: block;
        overflow: hidden;
        border-radius: 5px;
        margin-top: 2em;
        box-sizing: border-box;
        padding: 1em;
        text-align: center;
    }
    form input{
        text-align: center;
        text-decoration: none;
        display: block;
    }
    form input[type="submit"]{
        text-align: center;
        margin-top: 0.3em;
        padding: 0;
        display: block;
        width: 100%;
    }
}
@media (min-width:481px)  { 
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    body{
        width:90%;
    }
}
@media (min-width:641px)  { 
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
    body{
        width:85%;
    }   
}
@media (min-width:961px)  {
    /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    body{
        width:80%;
    }
}
@media (min-width:1025px) {
    /* big landscape tablets, laptops, and desktops */ 
    body{
        width:75%;
    }
}
@media (min-width:1281px) {
    /* hi-res laptops and desktops */ 
    body{
        width:50%;
    }
}